* {
    border: red 1px solid;
}

body {
    object-fit: fill;
    height: 100%;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    
}

.container {
    padding: 5% 20%;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/* Header */
.header {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
   
}

.header nav {
    display: flex;
    flex-flow: row;
    align-items: center;
    align-content: space-around;
    flex-grow: 3 1 1 1;
    height: 10%;
    width: 100%;
}

.header nav a {
    
}

header, footer{
    background-color: #1F2937;
}

header > nav > h1 {
    font-size: 24px;
    color: #F9FAF8;
}

header > div > div > h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

header > div > div > p,
header > nav > a {
    font-size: 18px;
    color: #E5E7EB;
    font-style: normal;
}

.header div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

.header div {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}



.header img {
    width: 500px;
    height: 350px;
    align-self: flex-end;
   
}
/* End Header */

button, .call {
    background-color: #3882f6;
} 

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.random {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    
}

.random div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.random div div {
    display: flex;
    flex-flow: column;
}
.random div img {
    border: #3882f6 thick;
    border-radius: 25%;
    width: 200px;
    height: 200px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

h4 {
    text-align: right;
}

footer {
    color: #F9FAF8;
    text-align: center;
    height: 5%;
}

