* {

}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

header, footer{
    background-color: #1F2937;
}

header > nav > h1 {
    font-size: 24px;
    color: #F9FAF8;
}

header > div > h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

header > div > p,
header > nav > a {
    font-size: 18px;
    color: #E5E7EB;
    font-style: normal;
}

button, .call {
    background-color: #3882f6;
} 

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

footer {
    color: #F9FAF8;
}

